/Addionfunction.class
/CountElementFrequency.class
/Decendingordersorting.class
/Decendingsort.class
/DuplicateEle.class
/Duplicatecharacter.class
/ExtractNum.class
/Findeleinarray.class
/FrequencyAllElement.class
/Functiongreatestnum.class
/Ispalindrom.class
/Nonzero.class
/REVERSEARRAY1.class
/ReverseArray.class
/ReverseSEentence.class
/ReverseSentence.class
/Revstring.class
/SortStringArray.class
/Sortarrayinassecnding.class
/StoreArrayinreverse.class
/Sumofarray.class
/findalloccurance.class
/frequency.class
/initarray.class
/printint.class
/stringpalindrom.class
